.card-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 70%;
  margin: 0 auto;
}
.card-item h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: start;
}
